@import "vars";
@import "normalize";

@font-face {
  font-family: "TT Lakes";
  src: url("/assets/font/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url("/assets/font/TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url("/assets/font/TTLakes-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}


body {
  font-family: "TT Lakes";
  background-color: $color_primary;
  min-width: 320px;
  height: 100%;
}

@media only screen and (min-width: 1120px) {
  .header {
    display: none;
  }
}
.header {
  height: 88px;
  background-color: #fff;

  // .header__container

  &__container {
    display: flex;
    padding: 18px 16px;
    align-items: center;
  }
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    &__container {
      padding: 18px 24px;
    }
  }
  // .header__menu-burger

  &__menu-burger {
    display: flex;
  }
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    &__menu-burger::after {
      content: "";
      display: block;
      height: 32px;
      width: 2px;
      background-color: $color_5;
      margin-left: 20px;
    }
  }
  // .header__logo

  &__logo {
    padding-left: 16.73px;
  }
  // .header__menu-container

  &__menu-container {
    display: flex;
    margin-left: auto;
  }

  // .header__menu--tablet

  &__menu--tablet {
    display: none;
  }
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    &__menu--tablet {
      display: flex;
    }
  }

  // .header__menu

  &__menu::before {
    content: "";
    display: block;
    height: 32px;
    width: 2px;
    background-color: $color_5;
    margin-right: 20px;
    margin-left: 20px;
  }
  @media only screen and (min-width: 1120px) {
    &__menu::before {
      display: none;
    }
  }
  // .header__menu
  &__menu {
    display: flex;
  }
}

.menu {

  // .menu__item

  &__item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $color_2;
    text-align: center;
  }

  // .menu__item--burger

  &__item--burger {
    background-image: url("../assets/icon/icon__burger.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }

  // .menu__item--phone

  &__item--phone {
    background-image: url("../assets/icon/icon__phone.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }

  // .menu__item--me16

  &__item--me16 {
    margin-right: 16px;
  }

  // .menu__item--chat

  &__item--chat {
    background-image: url("../assets/icon/icon__chat.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }

  // .menu__item--user

  &__item--user {
    background-image: url("../assets/icon/icon__user.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }

  // .menu__item--path

  &__item--path {
    background-image: url("../assets/icon/icon__path.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }

  // .menu__item--search

  &__item--search {
    background-image: url("../assets/icon/icon__search.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }

  &__desktop {
    display: flex;
    align-items: center;
    width: 356px;
  }

  &__desktop a {
    margin-right: 8px;
    
  }
}


.section {
  &__container {
    padding: 24px 16px 0;
  }
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    &__container {
      padding: 24px 24px;
    }
  }
  @media only screen and (min-width: 1120px) {
    &__container {
      padding: 42px 32px;
    }
  }
  // .section__container-desktop
  &__container-desktop {
    display: block;
  }

  @media only screen and (min-width: 481px) {
    &__container-desktop {
      display: flex;
    }
  }
  // .section__title

  &__title::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    height: 40px;
    width: 4px;
    background-color: $color_3;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  &__title {
    width: 100%;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
  }

  // .section__menu--container--desktop

  &__menu--container--desktop {
    visibility: hidden;
  }
  @media only screen and (min-width: 1120px) {
    &__menu--container--desktop {
      visibility: visible;
      margin-left: auto;
    }
  }
  // .section__menu
  &__menu {
    margin-top: 24px;
  }
  // .section__content-block
  @media only screen and (min-width: 481px) {
    &__content-block {
      margin-top: 24px;
      display: flex;
    }
  }
  &__comments {
    display: none;
  }

  @media only screen and (min-width: 1120px) {
    &__comments {
      display: inline;
      padding-left: 22px;
      padding-bottom: 20px;
      font-weight: 500;
      color: $color_6;
      line-height: 24px;
    }
  }
  // .section__text
  &__text p {
    font-size: 14px;
    line-height: 18px;
  }
  @media only screen and (min-width: 481px) {
    &__text {
      margin-right: 24px;
      width: 50%;
    }
    &__text p {
      line-height: 20px;
    }
  }
  .more {
    display: none;
  }
    
  .more.open {
    display: block;
    transition: all 1s ease;
    
  }
  //.section__read-more
  &__read-more {
    padding: 10px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #000;
  }

  &__read-more img {
    margin-right: 16px;
  }
  @media only screen and (min-width: 481px) {
    &__read-more {
      padding-top: 10px;
    }
  }
  // .section__img
  &__img {
    padding: 26px 0;
    text-align: center;
  }
  @media only screen and (min-width: 481px) {
    &__img {
      border-radius: 5px;
      margin-left: 24px;
      width: 50%;
    }
    &__img img {
      border-radius: 10px;
    }
  }
}

.menu {
  // .menu__servises
  &__servises {
    display: flex;
    overflow: auto;
    align-items: center;
    list-style: none;
    margin-left: -40px;
  }
  &__servises::-webkit-scrollbar {
    width: 0px;
    background: rgba(255, 255, 255, 0);
  }

  // .menu__link
  &__link {
    padding: 8px 16px;
  }

  &__link--item {
    white-space: nowrap;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: $color_6;
  }
   &__link--item:focus {
    padding: 8px 16px;
    border: 2px $color_4 solid;
    border-radius: 6px;
    background-color: #fff;
    margin-top: 10px;
  }

  @media only screen and (min-width: 1120px) {

    // .menu__servises
    &__servises {
        display: flex;
        overflow: auto;
        align-items: center;
    }
    // .menu__link
    &__link {
      margin-right: 34px;
    }
  }

  // &__link:checked {
  //   border: 2px $color_4 solid;
  //   border-radius: 6px;
  //   background-color: #fff;
  //   padding: 8px 13px;
  //   margin-left: -40px;
  // }
}